<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
</head>
<body>

<%- include('./partials/header') %>
    <div class="container " style="margin: 0 auto ;">
        <h1>Đăng ký tài khoản</h1>
       <% if ( typeof errorMsg != 'undefined') {  %>
              <h4 class="text-danger"> <%= errorMsg %> </h4>
        <% } %>
        <form class="form" action="/register" method="post">
            <div class="form-group">
                <label for="">User Name</label>
                <input type="text" name="userName" id="userName" placeholder="user name" required class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" id="password" placeholder="password" required class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password Again</label>
                <input type="password" id="re_password" placeholder="nhập lại mật khẩu" required class="form-control">
            </div>
            <div class="form-group">
               
               <button class="btn btn-success " type="submit">Đăng ký</button>
            </div>

        </form>
    </div>
<%- include('./partials/footer') %>
 <script>


 </script>
</body>
</html>