<form action="/update/<%= todo.id %> " method="post">
    <input type="text" value="<%= todo.title %>" name="title">
    <input type="date" value="<%= todo.date %>" name="date">

    <input type="submit" value="sửa">
</form>